* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: #0d0d0d;
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}
.grid .turn {
  color: #bf9460;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.grid .turn p {
  font-size: 1rem;
  animation: 0.6s ease-in-out turn-text-animation;
}
.grid .turn i {
  font-size: 1.8rem;
  margin-left: 10px;
  animation: 0.6s ease-in-out turn-icon-animation;
}
.grid .square {
  background-color: #d9bc66;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.grid .square:hover {
  cursor: pointer;
  opacity: 90%;
}
.grid .score {
  background-color: #3f3d40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.grid .score p {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}
.grid .score span {
  font-size: 11px;
}
.grid .actions {
  background-color: salmon;
}

/* Menu styles */
.menu {
  position: relative;
}
.menu .menu-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: white;
  background-color: #3f3d40;
  border: 1px solid transparent;
  font-size: 0.8rem;
}
.menu .items {
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 0;
  background-color: #3f3d40;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.menu .items button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.menu .items button {
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 40px repeat(3, 100px) 50px;
    gap: 20px;
  }
}
footer {
  color: white;
  margin-top: 50px;
}
footer p {
  font-size: 0.8rem;
  margin-top: 10px;
  text-align: center;
}
footer a {
  color: #bf9460;
}

/* Shared utility classes */
button:hover {
  cursor: pointer;
  opacity: 90%;
}

.hidden {
  display: none !important;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-contents {
  /* transform: translateY(-80px); */
  height: 150px;
  width: 100%;
  max-width: 300px;
  background-color: #3f3d40;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 10px;
}

.modal-contents button {
  padding: 10px;
  background-color: #0d0d0d;
  color: white;
  border-radius: 3px;
}/*# sourceMappingURL=style.css.map */